    <!-- Footer -->
    <footer class="bg-gray-800">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
            <div class="grid grid-cols-2 gap-8 md:grid-cols-4">
                <div>
                    <h3 class="text-sm font-semibold text-gray-300 tracking-wider uppercase">Experiencias</h3>
                    <ul class="mt-4 space-y-4">
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Senderismo</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Gastronomía</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Alojamiento</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Canopy Tour</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-sm font-semibold text-gray-300 tracking-wider uppercase">Comunidad</h3>
                    <ul class="mt-4 space-y-4">
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Reserva de la Biosfera</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Las Terrazas</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Polo Montañez</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Artistas Locales</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-sm font-semibold text-gray-300 tracking-wider uppercase">Empresa</h3>
                    <ul class="mt-4 space-y-4">
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Sobre Nosotros</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Impacto</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Blog</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Trabaja con Nosotros</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-sm font-semibold text-gray-300 tracking-wider uppercase">Legal</h3>
                    <ul class="mt-4 space-y-4">
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Políticas</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Términos</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Privacidad</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="mt-8 border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">
                <div class="flex space-x-6 md:order-2">
                    <a href="https://facebook.com/CubaLasTerrazas" class="text-gray-400 hover:text-white">
                        <i data-feather="facebook" class="h-6 w-6"></i>
                    </a>
                    <a href="https://www.instagram.com/lasterrazas_cuba" class="text-gray-400 hover:text-white">
                        <i data-feather="instagram" class="h-6 w-6"></i>
                    </a>
                    <a href="https://twitter.com/LasTerrazasCuba" class="text-gray-400 hover:text-white">
                        <i data-feather="twitter" class="h-6 w-6"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCJjXWSM_c3W2B_oYkOABtsg?view_as=subscriber" class="text-gray-400 hover:text-white">
                        <i data-feather="youtube" class="h-6 w-6"></i>
                    </a>
                </div>
                <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">
                    &copy; 2025 Complejo Las Terrazas. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </footer>
